footer.footer-page
  .container
    +b.footer
      +e.__item
        +b.UL.nav-list.--footer
          +navItem("Главная", "current")
          +navItem("Каталог товаров")
          +navItem("УФК")
          +navItem("Гарантия качества")
          +navItem("Вопрос-ответ")
          +navItem("Контакты")
      +e.__item
        +b.UL.nav-list.--footer
          +navItem("Часто задаваемые вопросы")
          +navItem("Гарантия качества")
          +navItem("Контакты")
      +e.__item
        +b.title-footer КАК СВЯЗАТЬСЯ:
        p Телефон: +7 966 164 62 62<br>+7 963 624 54 18
        p Адрес производителя:<br>Московская область<br>г. Железнодорожный,<br>ул. Керамическая д.2 офис 425
        p ОГРН № 1117746862331<br>ИНН 7721739880




